<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebDriverConfiguration" type="DeftPack.TestAutomation.Selenium.WebDriverConfiguration, DeftPack.TestAutomation.Selenium"/>
  </configSections>
  <WebDriverConfiguration userAgent="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.102 Safari/537.36">
    <debugging port="11711"/>
  </WebDriverConfiguration>
</configuration>

