@{
    var screenShotFileName = string.Format("Screenshots/{0}_{1}.png", Model.TestCaseName, Model.Status ? "passed" : "failed");
}
<html>
    <head>
        <title>@Model.Title</title>
        <link rel="stylesheet" type="text/css" href="Content/report_theme.css" />
    </head>
    <body>
        <h1 onclick="window.location.href = 'index.html';" class="navigate-back">@Model.Title</h1>
        <h2>@Model.ExecutionDate</h2>
        <h3>@Model.TestCaseName<span id="screenshot-icon" onclick="window.location.href = '@screenShotFileName';"></span></h3>
        <div id="test-description">@Model.TestDescription</div>
        <table id="test-steps">
            <thead>
                <tr>
                    <td class="step-sum-col-num">#</td>
                    <td class="step-sum-col-name">Step Description</td>
                    <td class="step-sum-col-exp">Expected Result</td>
                    <td class="step-sum-col-act">Actual Result</td>
                    <td class="step-sum-col-status">Status</td>
                </tr>
            </thead>
            <tbody>@Raw(Model.StepResults)</tbody>
        </table>
        <table id="test-summary">
            <thead>
                <tr>
                    <td colspan="2">Test Summary</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="test-summary-label">Execution Time</td>
                    <td class="test-summary-value">@Model.TimeSpent.ToString("hh\\:mm\\:ss")</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
