<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebDriverConfiguration" type="DeftPack.TestAutomation.Selenium.WebDriverConfiguration, DeftPack.TestAutomation.Selenium"/>
  </configSections>
  <WebDriverConfiguration debuggingPort="11711" defaultBrowser="Chrome"/>
</configuration>