@{
    var fileName = string.Format("{0}.html", Model.Name);
    var statusName = @Model.Status ? "passed" : "failed";
    var labelClass = @Model.Status ? "success" : "danger";
}
<tr class="clickable" onclick="window.location.href = '@fileName';">
    <td class="text-center">@Model.Number</td>
    <td class="text-left">@Model.Name</td>
    <td class="text-left">@Model.Description</td>
    <td class="text-center vcenter">
        <span class="label label-@labelClass">@statusName</span>
    </td>
</tr>