@{ var screenShotFileName = string.Format("Screenshots/{0}_{1}.png", Model.TestCaseName, Model.Status ? "passed" : "failed"); }
<html>
<head>
    <title>@Model.Title</title>
    <link href="http://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet">
    <style>.vcenter {vertical-align: middle !important;}</style>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand vcenter" href="index.html">@Model.Title</a>
        </div>
        <div class="navbar-collapse collapse navbar-default-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@screenShotFileName">Screenshot</a></li>
                <li><a>@Model.ExecutionDate</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <h1>@Model.TestCaseName</h1>
        <div class="well well-sm">@Model.TestDescription</div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td class="text-center"><strong>#</strong></td>
                        <td class="text-left"><strong>Step Description</strong></td>
                        <td class="text-left"><strong>Expected Result</strong></td>
                        <td class="text-left"><strong>Actual Result</strong></td>
                        <td class="text-center"><strong>Status</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @Raw(Model.StepResults)
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right">Execution Time</td>
                        <td colspan="1" class="text-center"><strong>@Model.TimeSpent.ToString("hh\\:mm\\:ss")</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>
